
.header-section {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/slide2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.header-section img {
  max-width: 80px;
  height: 50px;
  margin-top: 1%;
}

.nav-items {
  margin-left: 33%;
  padding: 1%;
  width: 60%;
}

.nav-items li {
  list-style: none;
  margin-left: 5%;
  float: left;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
  font-family: 'Tajawal', sans-serif;
}

.hero-text {
  color: #ffffff;
  text-align: center;
  font-size: 3.75em;
  margin-top: 12%;
}

.about-section {
  margin-top: 5%;
}

.about-section h3 {
  background-color: #DBA860;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 2%;
  box-sizing:border-box;
}

.about-section p {
  width: 100%;
  padding: 3%;
}

.about-section h3:nth-of-type(2) {
  margin-top: 20%;
}

.about-section img {
  max-width: 100%;
}

.about-mission {
  background-color:  rgba(219, 168, 96, 0.12);
  height: 565px;
}


.gospel-in-action {
  background: linear-gradient(rgba(56, 49, 40, 0.28), rgba(56, 49, 40, 0.28)), url(../images/involved.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.gospel-in-action img {
  max-width: 70%;
  margin-top: 20%;
}

.gospel-in-action h3 {
  color: #fff;
  text-align: center;
  margin-top: 20%;

}

.gospel-in-action h2 {
  margin-top: 7%;
  color: #fff;
  text-align: center;
  font-size: 2.25em;
}

.btn-getinvolved {
  margin-left: 32%;
  margin-top: 10%;
  background-color: #DBA860;
  width: 37%;
  color: #fff;
  font-size: 1.35em;
  text-align: center;
  padding: 2%;
}


.upcoming-event {
  margin-top: 5%;
  text-align: center;
}

.upcoming-event img {
  max-width: 100%;
  margin-top: 3%;
}

.study-pray-section {
  margin-top: 5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 500px;
}

.pray-img {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 500px;
}

.pray-img img {
  max-width: 104%;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.pray-text {
  background-color: #DBA860;
  padding-left: 0px;
  padding-right: 0px;
}

.study-bible-section {
  margin-top: 0px !important;
  padding-top: 0px !important;
  height: 500px;
}

.study-text {
  background-color: #F2F0EC;
  padding-left: 0px;
  padding-right: 0px;
  height: 500px;
}

.study-img {
  padding-right: 0px !important;
  padding-left: 0px !important;
  height: 500px;
}

.study-img img {
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.study-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.pray-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.pray-text h3{
  color: #ffffff;
  font-size: 3em;
  margin-left: 7%;
  margin-top: 20%;
}

.study-text h3 {
  color: #464646;
  font-size: 3em;
  margin-left: 7%;
  margin-top: 20%;
}

.study-text p {
  color: #A09F9F;
  font-size: 1.15em;
  margin-left: 7%;
  margin-top: 3%;
}

.btn-biblestudy {
  background-color: #DBA860;
  padding: 2%;
  color: #fff;
  text-align: center;
  width: 50%;
  margin-left: 7%;
  margin-top: 5%;
  font-weight: 500;
}

.people-in-service {
  margin-top: 5%;
  text-align: center;
}

.people-in-service h2 {
  text-align: center;
  font-size: 1.35em;
  color: #DBA860;
}

.people-in-service h3 {
  margin-top: 4%;
  font-size: 1.25em;
  text-align: center;
}

.people-in-service p {
  font-size: 1.25em;
}

.people-in-service img {
  margin-top: 7%;
  max-width: 100%;
  border: #DBA860 2px solid;
}

.map-section {

}

.footer-section {
  background-color: #DBA860;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.footer-section p {
  color: #fff;
  padding: 2%;
}
